body {
    margin: 0 !important;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

body>div {
    width: 480px;
    background-color: darkgray;
    box-shadow: 1px 1px 1px gray;
    border-radius: 5px;
}

body>div>div:first-child {
    width: 100%;
    font-size: 1.5rem;
    color: whitesmoke;
    text-shadow: 1px 1px 1px black;
    text-align: center;
    padding: 10px 0;
    border-bottom: 2px solid white;
}

body>div>.calculatorSpace {
    width: 100%;
    justify-content: center;
    flex-direction: column;
}

input {
    width: 93%;
    border: 2px solid gray;
    font-size: 1.5rem;
    margin: 15px 10px;
    outline: none;
    padding: 3px;
}

body>div>.calculatorSpace>.keyboards {
    padding: 5px;
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
}

body>div>.calculatorSpace>.keyboards>div {
    width: 100%;
    display: flex;
    flex-direction: row;
}

body>div>.calculatorSpace>.keyboards>div>div {
    width: 25%;
    border: 1px solid whitesmoke;
    height: 45px;
    border-radius: 2px;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 700;
    margin: 1px;
}

body>div>.calculatorSpace>.keyboards>div>div:hover {
    background-color: #00000040;
    cursor: pointer;
    border-color: gray;
}